
 nav a { color: inherit;   text-decoration: none;/*移除超連結底線和顏色*/
         font-size:1.2rem;/*元素透過「倍數」乘以根元素(16)的px值=16*1.2*/
         display: block; /*讓<a>填滿<li> 行內元素文字多長就多寬,so改成區塊*/
        padding:10px}
 nav a:hover{
            background-color: darksalmon;color:beige}
 nav > ul {list-style: none;   /* 移除項目符號 */
            background-color: rgb(216, 168, 168);
            margin: 0;
            padding: 0;}
 /*用flexbox和inline-block分別達成導覽列項目置中和並列2目標
  (1)元素套用display:flex,該元素會變成flex container,而它的子元素(限第一層)則會自動變成flex items
  (2)justify-content就可以並排,常見space-between/around/evenly/center
 */

 .flex-nav{
          display: flex;
          justify-content: center
        }


