
/* 實際寬度會被padding和border影響,因此加上此段校正 */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
/* =============================================== */
/* *{
    font-family:'Public Sans',sans-serif,serif;
} */
.header {
    text-align:center; /* 行内元素置中 block不適用 */
    padding-top:30px;/*或用box or main的margin處理 看哪種版面有彈性*/
    padding-bottom:20px;
}
.header img{
    width:200px;
    height:200px;
}


@font-face { /* 字體定義 */
    font-family: 'AbelRegular';
    src: url('/test1-/課堂練習3-切版/fonts/abel-regular-webfont.eot');
    src: url('/test1-/課堂練習3-切版/fonts/abel-regular-webfont.eot') format('embedded-opentype'),  url('/test1-/課堂練習3-切版/fonts/abel-regular-webfont.woff') format('woff'),  url('/test1-/課堂練習3-切版/fonts/abel-regular-webfont.ttf') format('truetype'),  url('/test1-/課堂練習3-切版/fonts/abel-regular-webfont.svg') format('svg');
}


.main{
    max-width:1200px;
    margin:0 auto; 
    /* 快速寫法 將block快捷自動置中(0:上下 auto:左右)
       更改div整體範圍 其內容物會在此範圍內 */
}

/*================= 導 覽 列 ================== */
.menu{
    margin-bottom:20px;
    width:100%;
    position:relative;
    height:80px;
}
.menu ul{ /* 整體設定 */
    margin:0;
    padding:0; /* 水平的邊邊 */
    text-align:center;
    list-style-type:none; /* 取消小黑點 */   
    border-top:1px #898000 solid;
    border-bottom:1px #898000 solid;
    height:82px;
    /* line-height:80px; 我改用flex來設定li置中 */

} 

.flex-nav{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    
} 
.flex-nav>li{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.menu a{
    text-decoration: none;
    display: block;
    line-height: 80px;
    font-size:28px;
}

.menu .item-1{
    color:black;
    font-family:'Public Sans';
    font-weight:900;
    font-style: normal;
}
.menu .item-2{
    color:#898000;
    font-family: 'Public Sans';
    font-weight:900;
    font-style:normal;
}

.menu li:hover{
    background-color:#DCDDDD;
    height:80px
}

.main .link{
    color:#fff;
    font-size:15px;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #898000;
    min-width: 100%;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.flex-nav .dropdown {
    display: block;

}
  .dropdown-content a  {
    font-family: 'Public Sans';
    font-weight:700;
    font-style:normal;
    font-size:18px;
    color: #fff;
    padding: 0px 5px;
    text-decoration: none;
}
  .dropdown-content a:hover {background-color:black;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover li {background-color:#DCDDDD;
    ;}

.image img{
    width:100%;
}

/*=============== Page.About content ================= */
.content{
    margin-left:250px;
}
.content img{
    margin-top:50px;
}
.content .block h1{
    font-size:20px;
}

.content .block h2{
    font-size:20px;
    
}
.content .block p{
    color:#898000;
    font-size:15px;
    text-decoration: none;

}
/*================= Page.Game content ================== */
.shop{
    font-family: 'Public Sans';
    font-weight:400;
    font-style:normal;
}
.shop>p{
    padding:0;
    margin:20;
    color:#7d7c7c;
    font-size:0.8rem;
    font-family: 'Public Sans';
    font-weight:700;
    font-style:normal;
 
}
.shop .product .frame{
    border:1px solid #898000;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.shop .product .frame{
    border-bottom:none;
    padding:5px;
    position:relative;
    
}
.shop .product .frame:last-child{
    border-bottom:1px solid #898000;
}

.product{
    margin-bottom:40px;
    font-family: 'Public Sans';
    font-weight:700;
    font-style:normal;
}
.shop .frame p{
    padding:0;
    margin:0;
    font-size:0.8rem;
    font-family: 'Public Sans';
    font-weight:700;
    font-style:normal;
}

.shop .product .left{
   flex:1;
   display:flex;
   flex-direction: column;
   justify-content:center;
   margin-right:20px;
   
   
}

.shop .product .center{
    flex:2;
    display:flex;
    flex-direction: column;
    /* justify-content:space-between; 改用mg-top推開price*/
    

}
.shop .product .right{
    flex:2;
  
}

.shop .product .left .img{
    width:100%;

}    
.shop .product .price{
    margin-top:auto;
    color:#898000;
    font-family: 'Public Sans';
    font-weight:700;

}
.shop .product .caption{
    padding-top: 3;
    padding-bottom: 5px;
    font-size:0.8rem;
    font-family: 'Public Sans';
    font-weight:700;
    border-bottom:1px solid #898000;
    
}
.shop .product h1{
    font-size:1rem;
}

.button-buy,.button-buy-2{
    text-decoration: none;
    color:#fff;
    font-size:0.8rem;
    font-family: 'Public Sans';
    font-weight:700;
    background-color: #898000;
    padding:6px 12px 6px 12px;
    border-radius: 15px;
    position:absolute;
    right:10px;
    top:50px;

}
.shop .product .right a.button-buy-2{
    right:10px;
    top:150px;
} 

.shop .product .right a.button-buy:hover{
    background-color: #000;
}
.shop .product .right a.button-buy-2:hover{
    background-color: #000;
}
.shop .product h2{
    color:#898000;
    font-size:0.8rem;
    font-family: 'Public Sans';
    font-weight:700;
}


/*================= Footer ================== */


.flex-nav-bottom{
    width:100%;
    display: flex;
    flex-direction: row;
    /* justify-content:space-evenly; */
    background-color: #898000;
    font-family: 'Public Sans';
    font-weight:400;
    font-style:normal;
}
.flex-nav-bottom a{
    text-decoration: none;
    color:#fff;
}

.flex-nav-bottom .bottom-right{
    padding: 0;
    display: flex;
    flex-direction: row;
    color:#fff;
    margin-right:auto;
    margin-left:auto;
}
.flex-nav-bottom .bottom-left{
    padding: 0;
    display: flex;
    flex-direction: row;
    color:#fff;
    margin-left:auto;
    margin-right:auto;
    
}
.flex-nav-bottom li{
  
    list-style-type: none;
    padding-right:20px;

}


/*====== RWD =====*/
@media (max-width:992px){ /*小於992px會執行css*/
    body{
        background-color: rgb(237, 237, 237);
        width:100%;
    }
    .menu ul{
        width:100%;
        flex-direction: column;
        height:243px;
        
    }

    .menu li:hover{
        height:80px;
    }

    .menu a{
        font-size:20px;
    }
    
/*================= index ================== */
    
    .image .dm1{
        margin-top:150px;
    }
    .flex-nav-bottom{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:20px;

    }
/*================= shop ================== */
     
     .shop .product .frame{
        padding:5px;
        width:100%;
        flex-direction: column;
        align-items: center;
     }

     .shop .product .left{
        margin-right:15px;
        width:150px;
     }

     .shop .product .center{
        margin-left:-10px;
 
     }
     .shop .product .right{
        margin-left:-48px;
   
     }
     .shop .product h1{
        font-size:10px;
     } 

     .shop .product h2{
        font-size:10px;
    }

     .shop .frame p{
        font-size:10px;
        margin-top:-10px;
        margin-bottom:5px;
     }

     .shop  p{
        margin-top:180px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;
     }

     .shop .product .caption{
        border-top:1px solid #898000;
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size:10px;
        
    }

     .button-buy,.button-buy-2{
        font-size:8px;
        padding:4px 8px 4px 8px;
        border-radius: 15px;
        /* position:absolute;
        right:150px;
        top:330px; */
     }
     .shop .product .right a.button-buy-2{
       /* right:150px;
       top:270px; */
     } 
} 

